[defaults]
inventory = ./hosts.example
gathering = implicit
collections_path = ./collections
display_skipped_hosts = False
error_on_missing_handler = True
system_warnings = True
deprecation_warnings = True
interpreter_python = auto_silent
# stdout_callback = yaml
roles_path = ~/.ansible/roles:./roles:./playbooks/roles:/usr/share/ansible/roles:/etc/ansible/roles
timeout = 30
retry_files_enabled = False
# forks = 20

[inventory]
enable_plugins = yaml, ini, toml
unparsed_is_failed = True

[ssh_connection]
pipelining = True
retries = 3
ssh_args = -o ConnectTimeout=10 \
           -o ServerAliveInterval=30 \
           -o ServerAliveCountMax=3 \
           -o ControlMaster=auto \
           -o ControlPersist=60s

[persistent_connection]
connect_timeout = 10
command_timeout = 60
network_cli_retries = 5

[diff]
always = False

[privilege_escalation]
become = True
